/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
body { margin: 0; font-family: "Ubuntu", sans-serif, verdana; }

/*@font-face {*/
/*    font-family: 'Material Icons';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://example.com/MaterialIcons-Regular.eot); !* For IE6-8 *!*/
/*    src: local('Material Icons'),*/
/*    local('MaterialIcons-Regular'),*/
/*    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),*/
/*    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),*/
/*    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');*/
/*}*/