<div class="nexp-c-table">
    <div class="nexp-c-table__control-bar">
        <div>
            <button
                nz-button
                nzType="primary"
                [disabled]="checkedIds.size === 0"
                class="nexp-c-table__download-button"
                (click)="download()"
            >
                <i nz-icon nzType="download" nzTheme="outline"></i>
                Download
            </button>
            <span>Selected {{ checkedIds.size }} documents</span>
        </div>
        <div>
            <button
                nz-button
                nzType="primary"
                [disabled]="!table?.data?.length"
                (click)="downloadCSV()"
            >
                <i nz-icon nzType="download" nzTheme="outline"></i>
                Download CSV
            </button>
        </div>
    </div>
    <nz-table #table
        [nzData]="dataSource"
        [nzLoading]="loading"
        [nzTableLayout]="'auto'"
        [nzPageSize]="25"
        [nzScroll]="{ y: '720px'}"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        (nzQueryParams)="onQueryParamsChange($event)"
    >
        <thead>
        <tr>
            <th class="nexp-c-table__checkbox-header"
                [nzChecked]="checked"
                [nzIndeterminate]="indeterminate"
                nzWidth="50px"
                (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <ng-template ngFor let-column [ngForOf]="listOfColumns">
                <th
                    *ngIf="column.filterFn && column.listOfFilter"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [nzFilters]="column.listOfFilter"
                    [nzFilterFn]="column.filterFn"
                    nz-tooltip
                    [nzTooltipTitle]="column.label"
                    class="nexp-c-table__th"
                >
                    {{ column.name }}
                </th>
                <th
                    *ngIf="!column.filterFn"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    nz-tooltip
                    [nzTooltipTitle]="column.label"
                    class="nexp-c-table__th"
                >
                    {{ column.name }}
                </th>
            </ng-template>
        </tr>
        </thead>
        <tbody>
        <tr
            *ngFor="let doc of table.data; let even = even"
            [ngClass]="{
                'nexp-c-table__row--even': even,
                'nexp-c-table__row--highlighted': highlightedIds.has(doc.name)
             }"
            class="nexp-c-table__row"
        >
            <td
                [nzChecked]="checkedIds.has(doc.name)"
                (nzCheckedChange)="onItemChecked(doc.name, $event)"
            ></td>
            <ng-template ngFor let-column [ngForOf]="listOfColumns">
                <td *ngIf="column.name === 'File name'"
                    [ngClass]="{
                    'nexp-c-table__td--green-text': needGreenHighlight(column.name, doc),
                    'nexp-c-table__td--red-text': needRedHighlight(column.name, doc)
                }">
                    <button *ngIf="isImage(doc)" class="nexp-c-table__action-button" nz-button nzType="link"
                            (click)="preview(doc)"><i nz-icon nzType="eye" nzTheme="outline"></i>
                    </button>
                    <a href="{{doc?.downloadUrl}}">{{getValueByColumnName(column.name, doc)}}</a>
                </td>
                <td *ngIf="column.name !== 'File name'"
                    [ngClass]="{
                    'nexp-c-table__td--green-text': needGreenHighlight(column.name, doc),
                    'nexp-c-table__td--red-text': needRedHighlight(column.name, doc)
                }">
                   {{getValueByColumnName(column.name, doc)}}
                </td>
            </ng-template>
        </tr>
        </tbody>
    </nz-table>
</div>
