.nexp-c-table {

}

.nexp-c-table .nexp-c-table__control-bar {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.nexp-c-table .nexp-c-table__download-button {
    margin-right: 16px;
}

.nexp-c-table .nexp-c-table__th {
    background-color: #f0f0f0;
}

.nexp-c-table .nexp-c-table__checkbox-header {
    width: 16px;
}

.nexp-c-table .nexp-c-table__th:hover {
    background-color: #d9d9d9;
}

.nexp-c-table .nexp-c-table__row--even {
    background-color: #fafafa;
}

.nexp-c-table .nexp-c-table__row--highlighted > td {
    border: 1px #287f87 solid;
    border-left-width: 0;
    border-right-width: 0;
}

.nexp-c-table .nexp-c-table__row--highlighted > td:first-child {
    border-left-width: 1px;
    border-right-width: 0;
}

.nexp-c-table .nexp-c-table__row--highlighted > td:last-child {
    border-left-width: 0;
    border-right-width: 1px;
}

.nexp-c-table .nexp-c-table__row:hover > * {
    background-color: #f5f5f5 !important;
}

.nexp-c-table .nexp-c-table__td--green-text {
    color: #28a745;
}

.nexp-c-table .nexp-c-table__td--red-text {
    color: #fc0101;
}

.nexp-c-table .nexp-c-table__action-button {
    padding: 0;
}
