<form class="nexp-c-serch-input" nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm($event)">
    <nz-form-item class="nexp-c-serch-input__item">
        <nz-form-control nzErrorTip="Please input search string!" [nzErrorTip]="searchTextErrorTpl">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                <input type="text" formControlName="searchText" nz-input placeholder="Search for file name..." #searchInput/>
                <ng-template #searchTextErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('maxlength')">Too long search text!</ng-container>
                </ng-template>
            </nz-input-group>
            <ng-template #suffixButton>
                <button type="search" nz-button nzType="primary" nzSearch>
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                    Search
                </button>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</form>
