<nz-header class="nexp-c-toolbar">
    <img class="nexp-c-toolbar__logo" alt="Nexperia logo" src="/assets/nexperia-logo.svg">
<!--    <h1 class="nexp-c-toolbar__title"></h1>-->
    <span class="nexp-c-toolbar__spacer"></span>
    <div>
<!--        <button nz-button nz-dropdown [nzDropdownMenu]="menu" class="nexp-c-toolbar__avatar-button">-->
            <span class="nexp-c-toolbar__avatar-button-text">
                <i nz-icon nzType="user" nzTheme="outline"></i>
                {{currentUser?.name}}
            </span>
<!--        </button>-->
<!--        <nz-dropdown-menu #menu="nzDropdownMenu">-->
<!--            <ul nz-menu>-->
<!--                <li nz-menu-item>-->
<!--                    <a nz-button nzType="link" (click)="logout()">-->
<!--                        <i nz-icon nzType="logout" nzTheme="outline"></i>-->
<!--                        Logout-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nz-dropdown-menu>-->
    </div>
</nz-header>
