.nexp-c-toolbar {
    background: #ffffff;
    display: flex;
}

.nexp-c-toolbar .nexp-c-toolbar__logo {
    height: 34px;
    margin-top: 18px;
}

/*.nexp-c-toolbar .nexp-c-toolbar__title {*/
/*    display: inline-block;*/
/*    color: #0f6f7b;*/
/*    margin-left: 16px;*/
/*}*/

.nexp-c-toolbar .nexp-c-toolbar__spacer {
    flex: 1 1 auto;
}

.nexp-c-toolbar .nexp-c-toolbar__avatar-button {
    margin: 16px 0;
}

.nexp-c-toolbar .nexp-c-toolbar__avatar-button-text {
    max-width: 186px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}