<div class="nexp-c-feedback">
    <a nz-button
       nzType="primary"
       href="mailto:herman.elenbaas@nexperia.com,maarten.de.boer@nexperia.com,ebakaev@evelopers.com?subject=Nexperia%20Documents%20feedback&body=Hello Herman, Maarten ,%0D%0A%0D%0ADescription:%0D%0A<In case of any issues describe the expected behavior. If possible add screen shots>%0D%0A%0D%0APriority:%0D%0A<Give an indication of the expected solution time. Think also about possible alternative solution>%0D%0A%0D%0AURL: https%3A%2F%2Fwww.documents-dam.pim.nexperia.com%0D%0A%0D%0A"
       title="Please get in contact if you have any questions or remarks!"
       target="_blank">
        <i nz-icon nzType="mail" nzTheme="outline"></i>
        Feedback
    </a>
</div>
