<nz-layout>
    <app-toolbar></app-toolbar>
    <nz-content>
        <div class="inner-content">
            <app-search-input (searchInputChanged)="onSearchInputChanged($event)"></app-search-input>
            <app-search-result-table [dataSource]="nexperiaDocuments"></app-search-result-table>
        </div>
    </nz-content>
    <app-feedback></app-feedback>
<!--    <nz-footer>Footer</nz-footer>-->
</nz-layout>